@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');
@import url('https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
        font-family: Roboto, sans-serif;
        box-sizing: border-box;
}


body{
    margin: 0px;
    }


header{ 
position: fixed;
top: 0%;
left: 0%;
right: 0%;

z-index: 1;
}

.box-header-top{
background-color: rgba(28, 209, 176, 1);
}

.titulo-secundario{
    margin: 0px 33px;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    
}

.box-header-bottom{
background-color: rgba(0, 102, 159, 1);
box-shadow: 0px 10px 10px -8px rgb(100, 92, 92);
}

.titulo-princpal{
    padding: 20px 33px;
    margin: 0px;
    font-size: 36px;
    font-style: normal;
    font-weight: 200;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color:white;
}

.boxTopCard{
margin-top: 150px;
    height: 246px;
    background-size: cover;
    border-radius: 90px 90px 0px 0px;
}

.boxTopCard-batman{
    background-image: url(../img/bg-batman.jpg); 
}

.boxTopCard-wonderw{
    background-image: url(../img/bg-wonderw.jpg);
}

.boxTopCard-superm{
    background-image: url(../img/bg-superman.jpg);
}


.fa-heart{
position: relative;
top: 33px;
right: 135px;
font-size: 29px;
color:rgba(204, 36, 36, 1);
}

.card{
position: relative;
width: 402.5px ;
margin: 0 auto;    
margin-bottom: 85px;
border-radius: 90px 90px 0px 0px;
background: rgba(243, 243, 243, 1);
text-align: center;
}

.avatar{
position: absolute;
top: 160px;
right: 115px;
width: 176px;
height: 176px;
border-radius: 180px;
box-shadow: 0px 10px 10px -8px rgb(100, 92, 92);
object-fit: cover;    
}

.hero-name{
font-size: 32px;
font-style: normal;
font-weight: 200;
line-height: 37px;
letter-spacing: 0em;
text-align: center;
padding-top: 110px;
margin-top: 0px;
text-transform: uppercase;
}

.hero-description{
font-size: 18px;
font-style: normal;
font-weight: 200;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
padding-left: 22px;
padding-right: 22px;

}

.main-box-bottom-card{
    background: rgba(243, 243, 243, 1); 
}

.box-button{
text-align: center;
}


button{
font-size: 16px;
font-style: normal;
font-weight: 200;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
color: white;
background: rgba(0, 102, 159, 1);
height: 57px;
width: 173px;
border-radius: 7px;
margin-bottom: 34px;
}


.circulo{
position: fixed;
right: 25%;
top: 70%;
width: 75px;
height: 75px; 
border-radius: 200px;
background-color: rgba(0, 102, 159, 1);
        }

.add-sign{
font-size: 48px;
font-style: normal;
font-weight: 200;
line-height: 57px;
letter-spacing: 0em;
text-align: center; 
margin: 9px;
color: white;    
}        

.final{
background: rgba(0, 102, 159, 1);
margin-top: 165px;
margin-bottom: 0px;
padding: 0px;
}

.copyright{
color: rgba(255, 249, 249, 1);
font-size: 18px;
font-style: normal;
font-weight: 200;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
margin: 0px;
padding-bottom: 25px;
}

.logo-github{
position: relative;
left: 80%;
top: 25px;
height: 33px;
width: 124px;
border-radius: 0px;
}