@import url(variables.css);


@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');
@import url('https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

@import url(styles-contacto.css);
@import url(styles-login.css);
@import url(styles-register.css);
@import url(styles-anadir.css);


/* ======================
- css for all views
====================== */


* {
        font-family: Roboto, sans-serif;
        box-sizing: border-box;
}


body{
    margin: 0px;
    margin-top: 25vh;
    }

header{ 
position: fixed;
top: 0%;
left: 0%;
right: 0%;
z-index: 1;
}

.box-header-top{
background-color: var(--color-verde);
}

.titulo-secundario{
    margin: 0px 33px;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    
}

.box-header-bottom{
background-color: rgba(0, 102, 159, 1);
box-shadow: 0px 10px 10px -8px rgb(100, 92, 92);
}

.titulo-princpal{
    padding: 15px 33px;
    margin: 0px;
    font-size: 36px;
    font-style: normal;
    font-weight: 200;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color:white;
}

nav ul{
    background-color: black;
    padding: 9px;
    display: flex;
    justify-content:flex-end;
    list-style-type: none;
    align-items:flex-end;
    margin: 0px;
}

nav ul li{
    margin-right: 14px;
}

nav li a{
    color: white;
    text-decoration: none;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.boxTopCard{
    padding: 0px;
    height: 245px;
    background-size: cover;
    border-radius: 90px 90px 0px 0px;
}

.boxTopCard-batman{
    background-image: url(../img/bg-batman.jpg); 
}

.boxTopCard-wonderw{
    background-image: url(../img/bg-wonderw.jpg);
}

.boxTopCard-superm{
    background-image: url(../img/bg-superman.jpg);
}

.boxTopCard-harley{
    background-image: url(../img/bg-HarleyQuinn.svg);
}

.fa-heart{
position: relative;
top: 33px;
right: 135px;
font-size: 29px;
color:rgba(204, 36, 36, 1);
}

.card{
width: 400px;   
min-height: 700px;
margin-bottom: 10vh;
border-radius: 90px 90px 0px 0px;
background: rgba(243, 243, 243, 1);
text-align: center;
}

.avatar{    
position: relative;
top: -70px;
width: 160px;
height: 160px;
border-radius: 180px;
box-shadow: 0px 10px 10px -8px rgb(100, 92, 92);
object-fit: cover;    
}

.hero-name{
font-size: 32px;
font-style: normal;
font-weight: 200;
line-height: 37px;
letter-spacing: 0em;
text-align: center;
text-transform: uppercase;
margin-top: -50px;
}

.hero-description{
font-size: 18px;
font-style: normal;
font-weight: 200;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
padding-left: 22px;
padding-right: 22px;

}

.main-box-bottom-card{
    background: rgba(243, 243, 243, 1); 
}

.box-button{
text-align: center;
}


button{
font-size: 16px;
font-style: normal;
font-weight: 200;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
color: white;
background: rgba(0, 102, 159, 1);
height: 57px;
width: 173px;
border-radius: 7px;
margin-bottom: 30px;
}


.circulo{
position: fixed;
right: 2%;
top: 79%;
width: 75px;
height: 75px; 
border-radius: 200px;
background-color: rgba(0, 102, 159, 1);
        }

.circulo:hover{
    background-color: black
}

.add-sign{
font-size: 48px;
font-style: normal;
font-weight: 200;
line-height: 57px;
letter-spacing: 0em;
text-align: center; 
margin: 9px;
color: white;    
}        

.final{
left: 0%;
right: 0%;
background: rgba(0, 102, 159, 1);
margin-top: 165px;
padding: 0px;
}

.copyright{
color: rgba(255, 249, 249, 1);
font-size: 15px;
font-style: normal;
font-weight: 200;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
margin: 0px;
padding: 18px;
}

.titulo-formulario{
font-family: 'Inter', sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 350;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color:rgba(51, 51, 51, 1);
}


.prueba{
	width: 50px;
	height: 50px;
	background-color: orange;
}
